node_modules/
.next/
.env
.env.local
*.tsbuildinfo
next-env.d.ts

.vercel

# Hidden skill folders for different agents
.agent/
.agents/
.claude/

# Temporary exports and logs
*.toon
*.zip
skills-lock.json
ROADMAP.md

